 {% extends 'layout/EspaceClient.html'%}
 <!-- Page Heading -->
 {% load static %}
 {% block content %}

{% include  'Espace_client/dpi/piece_details.html' %}
{% include  'Espace_client/dpi/treat.html' %}
{% include  'Espace_client/dpi/renvoie_modification.html' %}


<div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <div class="">
                              <h6 class="">Liste des produits de la demande</h6>
                          </div>
                          <div class="">                              
                            
                              <a type="button" data-toggle="modal" data-target="#PieceJointe" class="btn btn-outline-info">Pieces Jointes <i class="fa fa-file"></i></a>

                            {% if can_treat %}
                              <a type="button" data-toggle="modal" data-target="#Renvoie" class="btn btn-outline-info">Renvoie modification<i class="fa fa-envelope"></i></a>
                            {% endif %}
                            <div class="float-right">
                                {% if datum.statut_id == 7 %}
                                <a type="button" href="{% url 'print_dpi' datum.id %}"  class="btn btn-primary">IMPRIMER <i class="fa fa-print"></i></a>
                                {% endif %}
                                <a type="button" data-toggle="modal" data-target="#TreatASI" class="btn btn-primary">Traiter la demande<i class="fa fa-plus"></i></a>
  
                              </div>
                          </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Dénomination commerciale</th>
                                            <th>Catégorie</th>
                                            <th>Dosage</th>
                                            <th>Presentation</th>
                                            <th>Quantité</th>
                                            <th>Prix</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in produits %}
                                        <tr>
                                            <td>{{p.dc}}</td>
                                            <td>{{p.categorie.libelle|slice:":20"}}...</td>
                                            <td>{{p.dosage}}</td>
                                            <td>{{p.presentation}}</td>
                                            <td>{{p.quantite}}</td>
                                            <td>{{p.cout}}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



  {% endblock %}