 {% extends 'layout/EspaceClient.html'%}
 <!-- Page Heading -->
 {% load static %}
 {% block content %}

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">ASE</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Fabricant</th>
                                            <th>Fournisseur</th>
                                            <th>Transitaire</th>
                                            <th>Voie</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for d in data %}
                                        <tr>
                                            <td>{{d.nom_fabricant}}</td>
                                            <td>{{d.nom_fournisseur}}</td>
                                            <td>{{d.nom_transitaire}}</td>
                                            <td>{{d.voie_entree.libelle}}</td>
                                            <td>
                                                <a type="button" class="btn btn-outline-warning" href="{% url 'get_ase' d.id %}"><i class="fa fa-info"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
  {% endblock %}